.root {
    -fx-background-image: url('../img/gameBG.png');
    -fx-background-size: cover;
}

.backButton {
    -fx-pref-width: 85;
    -fx-pref-height: 85;
    -fx-translate-x: 10;
    -fx-translate-y: 10;
    -fx-background-radius: 18 22 24 20;
    -fx-background-color: transparent;
    -fx-background-image: url('../img/back.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.backButton:hover {
    -fx-opacity: 0.8;
}

.restartButton {
    -fx-pref-width: 85;
    -fx-pref-height: 85;
    -fx-translate-x: 100;
    -fx-translate-y: 10;
    -fx-background-radius: 18 22 24 20;
    -fx-background-color: transparent;
    -fx-background-image: url('../img/replay.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.restartButton:hover {
    -fx-opacity: 0.8;
}

.startGameButton {
    -fx-pref-width: 134;
    -fx-pref-height: 85;
    -fx-translate-x: 830;
    -fx-translate-y: 10;
    -fx-background-radius: 18 22 24 20;
    -fx-background-color: transparent;
    -fx-background-image: url('../img/play.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.startGameButton:hover {
    -fx-opacity: 0.8;
}


.upButton {
    -fx-pref-width: 80;
    -fx-pref-height: 80;
    -fx-translate-x: 120;
    -fx-translate-y: 650;
    -fx-background-radius: 18 22 24 20;
    -fx-background-color: transparent;
    -fx-background-image: url('../img/directives/up.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.upButton:hover {
    -fx-opacity: 0.8;
}

.leftButton {
    -fx-pref-width: 80;
    -fx-pref-height: 80;
    -fx-translate-x: 220;
    -fx-translate-y: 650;
    -fx-background-radius: 18 22 24 20;
    -fx-background-color: transparent;
    -fx-background-image: url('../img/directives/left.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.leftButton:hover {
    -fx-opacity: 0.8;
}


.rightButton {
    -fx-pref-width: 80;
    -fx-pref-height: 80;
    -fx-translate-x: 320;
    -fx-translate-y: 650;
    -fx-background-radius: 18 22 24 20;
    -fx-background-color: transparent;
    -fx-background-image: url('../img/directives/right.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.rightButton:hover {
    -fx-opacity: 0.8;
}


.downButton {
    -fx-pref-width: 80;
    -fx-pref-height: 80;
    -fx-translate-x: 420;
    -fx-translate-y: 650;
    -fx-background-radius: 18 22 24 20;
    -fx-background-color: transparent;
    -fx-background-image: url('../img/directives/down.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.downButton:hover {
    -fx-opacity: 0.8;
}


.p1Button {
    -fx-pref-width: 80;
    -fx-pref-height: 80;
    -fx-translate-x: 520;
    -fx-translate-y: 650;
    -fx-background-radius: 18 22 24 20;
    -fx-background-color: transparent;
    -fx-background-image: url('../img/directives/p1.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.p1Button:hover {
    -fx-opacity: 0.8;
}

.lightButton {
    -fx-pref-width: 80;
    -fx-pref-height: 80;
    -fx-translate-x: 620;
    -fx-translate-y: 650;
    -fx-background-radius: 18 22 24 20;
    -fx-background-color: transparent;
    -fx-background-image: url('../img/directives/light.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.lightButton:hover {
    -fx-opacity: 0.8;
}

.directives {
    -fx-pref-width: 80;
    -fx-pref-height: 80;
}

.directives:hover {
    -fx-opacity: 0.9;
}
