.root {
    -fx-background-image: url('../img/login.png');
    -fx-background-size: cover;
}

.button{
    -fx-background-color: rgba(99, 99, 146, 0.32);
    -fx-text-fill: white;
    -fx-pref-width: 60;
    -fx-pref-height: 40;
}

.button:hover{
    -fx-background-color: rgba(76, 76, 119, 0.6);
    -fx-cursor: hand;
}

.label{
    -fx-font-size: 20px;
}
.text-field{
    -fx-pref-width: 400;
    -fx-pref-height: 40;
}
